# torch
# transformers
pinecone[asyncio]
fastapi
uvicorn
beautifulsoup4
selenium
youtube-transcript-api
googletrans
requests
PyMuPDF
google.generativeai
python-dotenv
scikit-learn
datasets
peft
trl
bitsandbytes
accelerate